<!DOCTYPE html>
<html>



<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p> 
<head>
  <title>Testapp</title>
  <%= stylesheet_link_tag "application" , "home"%>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
</head>


<div id="banner">


<%= image_tag("logo.png", :alt => "rss feed") %>
</div>
<div id="columns"></div>
<div id="side"></div>

<body style ="background-color:skyblue;">

<ul id="nav">
	<li> <%= link_to 'HOME',  %> </li>
	<li> <%= link_to 'ABOUT US', %> </li>
        <li> <%= link_to 'SERVICES',  %> </li>
	<li> <%= link_to 'TESTIMONIALS',  %> </li>
	<li> <%= link_to 'BLOG',  %> </li>
	<li> <%= link_to 'CONTACT US', new_user_path  %> </li>
	 
</ul>
<%= yield %>
<div style="text-align: center; font-size: 0.75em;">

<div id="footer">

<li> <%= link_to 'HOME', %> | <%= link_to 'ABOUT US',  %> | <%= link_to 'SERVICES',  %> | <%= link_to 'TESTIMONIALS',  %> |<%= link_to 'BLOG', %> | <%= link_to 'CONTACT US', %></li>



</div>

<b>Copyright &copy; 2012 ANIRA SOLUTIONS</b>
<br>


</div>
</div>
<div style="text-align: center; font-size: 0.75em;">
<b>Developed by
ANIRA SOLUTIONS.</b> 
.
</div>
</div>

</div>

</html>

